#form  input {display: block; background-color: aqua; margin-bottom: 10px; border-radius: 5px; }

.firest {box-shadow:0 0 10px gray; border-color: rgb(213, 213, 239); margin: 10px; padding: 20px;}

.second {box-shadow:0 0 10px gray; border-color: rgb(213, 213, 239); margin: 10px; padding: 20px;}